.card {  
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    &__side {
        overflow: hidden;
        height: 50rem;
        color: $color-grey-dark;
        font-weight: 700;
        transition: all 1s ease;
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 4px;

        &--front {
            background-color: $color-white;
     
        }

        &--back {
            transform: rotateY(-180deg);
            
            &--primary {     
            @include gradient-background-primary('../img/logo-green-2x.jpg');
            }
            &--secondary {
            @include gradient-background-secondary('../img/logo-green-2x.jpg');
            }
            &--tertiary {
            @include gradient-background-tertiary('../img/logo-green-2x.jpg');
            }
        }
    }
     &:hover &__side--front {
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__image {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
        background-blend-mode: hard-light;
        height: 23rem;
        &--primary {
            @include gradient-background-primary("../img/nat-5.jpg");
     
        }
        &--secondary {
           @include gradient-background-secondary("../img/nat-6.jpg");
            background-blend-mode: screen;

           height: 23rem; 
        }
        &--tertiary {
            @include gradient-background-tertiary("../img/nat-7.jpg");
            background-blend-mode: screen;

           height: 23rem;
        }
    }
    &__heading {
        font-size: 2.7rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        left: 5rem;
        width: 75%;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--primary {
            @include gradient-background-primary('');
        }  
        &--secondary {
            @include gradient-background-secondary('');

        } 
        &--tertiary {
            @include gradient-background-tertiary('');

        }

    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.2rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
    &__cta {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 3rem;
        font-weight: 100;
    }
}